<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    {% if title %}
    <title>HMS - {{ title }}</title>
    {% else %}
    <title>Hotel Management System</title>
    {% endif %}
  </head>
  <body class="bg-secondary">
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Hotel Management System</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <div class="row justify-content-center mt-5">
        <div class="col-md-4 col-lg-3 col-xl-2">
          <div class="alert alert-success mt-3 lead text-center" role="alert">
            {% if msg == "login" %} You are logged in {% elif msg ==
            "accountEdit" %} Account Edited Successfully {% endif %}
            <div class="spinner-border float-none" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
      <meta http-equiv="refresh" content="0.5; URL=/" />
    </div>
  </body>
</html>
